* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
    background-size: cover; 
    background-position: center; 
}

.bg-img {
    height: vh;
    width: vh;

}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.search button img {
    width: 19px;
    margin-top: 8px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 700;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}


.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}




@media (max-width: 450px) {
    .card {
        padding: 30px 20px;
        margin-top: 50px;
    }

    .search input {
        padding: 8px 15px;
        height: 40px;
        font-size: 14px;
    }

    .search button {
        width: 40px;
        height: 40px;
    }

    .search button img {
        width: 15px;
    }

    .weather-icon {
        width: 120px;
        margin-top: 20px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .details {
        margin-top: 30px;
    }

    .col img {
        width: 30px;
    }

    .humidity, .wind {
        font-size: 18px;
    }
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden; 
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}


@media screen and (orientation: landscape) {
    .img {
        object-fit: contain; 
    }
}

@media screen and (orientation: portrait) {
    .img {
        object-fit: cover; 
    }

    @media (max-aspect-ratio: 9/16) {
        .img {
            object-fit: cover; 
        }
    }
}
